    :root{
      --bg:#0f1724;
      --card:#0b1220;
      --muted:#99a3b3;
      --accent1:#7c3aed;
      --accent2:#06b6d4;
      --glass: rgba(255,255,255,0.04);
      --radius:14px;
      --max-width:1100px;
      --container-padding:24px;
    }
    *{
        box-sizing:border-box
    }
html,body{
        height:100%
    }
    body{
      margin:0;
      font-family:Inter,system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial;
      background: linear-gradient(180deg, #071029 0%, #071422 60%);
      color: #e6eef6;
      font-size: medium;
      -webkit-font-smoothing:antialiased;
      -moz-osx-font-smoothing:grayscale;
      line-height:1.5;
    }
    .wrap{
        max-width:var(--max-width);
        margin:32px auto;
        padding:0 var(--container-padding)
    }
     .container{
       width: 100%;
       height: 100vh;
       display: block;
       justify-content: center;
       align-items: center;
    }

     .form-box{
        background: #fff;
        padding: 30px;
        padding-bottom: 180px;
        border-radius: 8px;
        box-shadow: 0 0 10xp  rgba(0,0,0,0.1);
        width: 370px;
    }
    h2{
        color: var(--bg);
        text-align: center;
        margin-bottom: 20px;
    }
    form lebel{
        display: block;
        margin-bottom: 5px;
        font-size: 14px;
    
    }
    form input{
        width: 100%;
        padding: 8px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
        transition: 0.3s ease;
    
}
    form input:focus{
        border-color: linear-gradient(180deg, var(--accent1),var(--accent2));
        box-shadow: 0 0 5px var(--accent2);
        transform: scale(1.02);
        background: transparent;
    }
    

    
.chk{
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    margin: 0;
    gap: inherit;
    padding-bottom: 30px;
}
.chk p{
    color: var(--bg);
    margin: 0%;
}
    .chk a{
        text-decoration: none;
    }
    .chk a:hover{
        color: var(--bg);
        margin: 5px;
        border-radius: 5px;
    }

    button{
        padding:5px 130px;
        margin-top: 30px;
        border-radius:10px;
        color: var(--bg);
        text-decoration:none;
        color:inherit;
        font-weight:700;
        background:var(--bg);     
        text-align: center;
    }
    
    button:hover{
        background: linear-gradient(60deg, var(--accent1), var(--accent2));
    }

 /* footer */
 .ftr{
    display: block;
 }
 footer{
        margin-top:44px;
        padding:18px;
        border-radius:12px;
        background:linear-gradient(180deg, rgba(255,255,255,0.01), transparent);
        display:flex;
        justify-content:space-between;
        align-items:center;
    }